@import url(https://fonts.googleapis.com/css?family=Press+Start+2P);

body {
  width: auto;
  height: 100vh;
  margin: 0;
  background-color: #141414;
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  overflow-y: hidden;
}

.home_header {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  font-family: "Press Start 2P", cursive;
}

.home_header_left {
  font-size: 20px;
  margin-left: 20px;
  vertical-align: middle;
  padding: 10px;
  min-width: 60%;
}

.home_header_right {
  vertical-align: middle;
  margin-right: 20px;
  padding: 10px;
  white-space: nowrap;
  max-height: 25px;
}

.home_codeLink {
  color: white;
  display: inline;
  font-size: 20px;
  vertical-align: middle;
  margin-left: 10px;
  font-family: "Press Start 2P", cursive;
}

.git_logo {
  width: 30px;
  vertical-align: middle;
}

.home_align {
  display: flex;
  overflow-x: scroll;
  gap: 20px;
  padding-bottom: 80px;
}

/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #effd4a;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(104, 228, 0, 1);
  border-radius: 10px;
}

.home_header_right:hover {
  background: rgba(104, 228, 0, 1);
  border-radius: 10px;
  padding: 10px;
}

/* Loading Page */
.loading_page {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 15px;
  color: rgba(104, 228, 0, 1);
  font-family: "Press Start 2P", cursive;
  line-height: 2.5em;
}
