body {
  margin: 0;
  background-color: #141414;
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

h2,
ul {
  padding: 0;
  margin: 0;
}

.movie {
  width: 280px;
  height: auto;
  margin: 50px 0 0px 0px;
}

.movie_justify {
  margin: 20px;
}
.movie_img {
  /* position: relative; */
  width: 100%;
  border-radius: 8px;
}

.movie_title {
  font-size: 25px;
  margin: 20px 10px;
  text-align: center;
}

.movie_link {
  text-decoration: none;
  color: white;
}

.movie_summary {
  display: none;
  width: 100%;
  line-height: 1.5em;
}

li {
  list-style: none;
  text-align: center;
}

.movie_genres {
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 0.1em;
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 25px;
  padding: 10px;
  background: rgba(104, 228, 0, 0.9);
  border-radius: 10px;
}

a {
  color: #effd4a;
  text-decoration: none;
  outline: none;
}

a:hover,
a:active {
  text-decoration: none;
  color: white;
}
